h1 = @project.title
h2 Описание:
= @project.description
p = 'Статус: ' + @project.status
p
  = link_to 'Задачи [ ' + @project.tasks.count.to_s + ' ]', project_tasks_path(@project), class: 'btn btn-success'
p
  = link_to 'К списку проектов', projects_path, class: 'btn btn-info'
