/*
 *= require bootstrap.min
 *= require plugins/metisMenu/metisMenu.min.css
 *= require spm2-theme
 *= require font-awesome.min
 *= require_self
 *= require_tree .
 */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../assets/glyphicons-halflings-regular.eot');
    src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/glyphicons-halflings-regular.woff') format('woff'),
    url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../assets/fontawesome-webfont.eot?v=4.1.0');
    src: url('../assets/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
    url('../assets/fontawesome-webfont.woff?v=4.1.0') format('woff'),
    url('../assets/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
    url('../assets/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}